@use 'variables';
.header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 24px;
    @media(min-width: 1115px){
        height: 120px;
        border-bottom: 1px solid variables.$Grayish-blue;
    }
    &__navigation{
        width: 175px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(min-width: 1115px){
            width: 590px;
        }
    }
    &__menu{
        &:hover{
            cursor: pointer;
        }
        @media(min-width: 1115px){
            display: none;
        }
    }
    &__cart-avatar{
        // border: 1px solid green;
        display: flex;
        align-items: center;
        width: 70px;
        justify-content: space-between;
        @media(min-width: 1115px){
            width: 125px;
        }
    }
    &__cart{
        position: relative;
        &--notification{
            background-color: variables.$Orange;
            width: 15px;
            height: 12px;
            border-radius: 16px;
            position: absolute;
            top: -2px;
            right: -5px;
            font-size: 0.6em;
            text-align: center;
            color: variables.$White
        }
        &:hover{
            cursor: pointer;
        }
    }
    &__avatar{
        width: 25px;
        @media(min-width: 1115px){
            width: 50px;
        }
        &:hover{
            cursor: pointer;
            border: 2px solid variables.$Orange;
            border-radius: 50%;
        }
    }
}